/* Error: expected "{".
 *    ,
 * 36 | >>>>>>> d265382a78232627ee29cb89ff0f59d6ebe88615
 *    |                                                 ^
 *    '
 *   D:\Novix\Novix-main\assets\scss\layout\sections\_contact.scss 36:49  @forward
 *   D:\Novix\Novix-main\assets\scss\layout\sections\index.scss 10:1      @forward
 *   D:\Novix\Novix-main\assets\scss\layout\index.scss 3:1                @forward
 *   D:\Novix\Novix-main\assets\scss\main.scss 4:1                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 36 \2502  >>>>>>> d265382a78232627ee29cb89ff0f59d6ebe88615\d\a    \2502                                                  ^\a    \2575 \a   D:\\Novix\\Novix-main\\assets\\scss\\layout\\sections\\_contact.scss 36:49  @forward\a   D:\\Novix\\Novix-main\\assets\\scss\\layout\\sections\\index.scss 10:1      @forward\a   D:\\Novix\\Novix-main\\assets\\scss\\layout\\index.scss 3:1                @forward\a   D:\\Novix\\Novix-main\\assets\\scss\\main.scss 4:1                        root stylesheet';
}
