@use '../../utils/' as *;

/*----------------------------------------*/
/* 3.3.1 about
/*----------------------------------------*/

.it-about{
  &-area{
    @media #{$xs, $sm}{
      padding-bottom: 0px;
    }
    @media #{$xs}{
      padding-bottom: 60px;
    }
    &-2 {
    @media #{$md, $xs, $sm}{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    }
  }
  &-wrapper{
    @media #{$md,}{
      padding-top: 0px;
      padding-bottom: 0px;
    }
    & img{
      border-radius: 30px;
    }
     @media #{$md}{
      margin-top: 67%;
      text-align: center;
      margin-bottom: 0;
    }
     @media #{$lg}{
      padding-top: 50px;
    }
     @media #{$xs}{
      margin-top: 55%;
      margin-bottom: 0;
      padding-bottom: 0;
    }
     @media #{$sm}{
      margin-top: 60%;
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
  }
    &-Experience{
        border-radius: 5px;
        border: 1px solid #D3C9C5;
        background: #F6F5F7;
        padding: 30px 0px 21px 15px;
        &-title{
            font-size: 22px;
        }
        &-title{
          font-size: 22px;
          line-height: 30px; 
          letter-spacing: .2px;
        }
        & p{
          font-size: 16px;
          color: #69615D;
        }
        &-video{
          display: flex;
          align-items: center;
          justify-content: center;
          

          
        }
    }
    &-videobtn{
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 4px solid #CD5F37;
      background: rgba(255, 255, 255, 0.60);
      z-index: 1;
    }
  &-list{
    &-icon{
      margin-right: 15px;
      & img{
        width: 60px;
        height: 60px;
        max-width: none;
      }
      & span{
        color: var(--it-body-color-2);
        font-size: 18px;
        @media #{$xs}{
      font-size: 16px;
    }
      }
      @media #{$xs}{
     margin-bottom: 0;
    }
    }
    &-title{
      font-size: 28px;
      font-weight: 400;
      line-height: 30px; 
      letter-spacing: .2px;
      @media #{$xs}{
        font-size: 17px;
        line-height: 11px;
      }
      @media #{$lg}{
        font-size: 24px;
      }
      
    }
    @media #{$md, $sm, $xs}{
      justify-content: space-between;
    }
  }
  &-2{
      &-thumb{
         &-1{
            border-radius: 200px;
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
            transition: all 0.7s linear;
            &:hover{
              transform: scale(1.2);
              z-index: 2;
            } 
         }
         &-2{
            right: 0;
            top: 120px;
            bottom: auto;
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
            border-top: 12px solid #fff;  
            border-left: 16px solid #fff;   
            border-bottom: 12px solid #fff; 
            border-right: none;             
            border-radius: 121px;             
            overflow: hidden; 
            transition: all 0.7s linear;
            &:hover{
              transform: scale(1.2);
              z-index: 2;
            } 
         }
      }
  }
  &-drc{
    font-size: 18px;
    line-height: 30px;
  }
  &-page{
    @media #{$xs}{
      margin-left: 0;
    }
  }
}

.it-about-list-content {
  p{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
  }
	@media #{$sm, $md} {
    text-align: start;
  }
	@media #{$xs} {
    text-align: left;
  }
}

.it-about-area {
  .it-section-info{
    @media #{$md}{
      padding-top: 100px;
    }
  }
  & .it-section-title{
    @media #{$md}{
      padding-bottom: 0;
    }
  }
}

.it-about-thumb{
  &-1{
    top: 0;
    right: 30px;
    border-radius: 30px;
    transition: all 0.7s linear;
    &:hover{
      transform: scale(1.2);
      z-index: 2;
    } 
  }
  &-2{
    top: 215px;
    left: 0;
    border: 8px solid #FFF;
    border-radius: 30px;
    transition: all 0.7s linear;
    &:hover{
      transform: scale(1.2);
      z-index: 2;
    } 
  }
  &-3{
    top: 575px;
    right: 30px;
    z-index: 1;
    border-radius: 30px;
    transition: all 0.7s linear;
     @media #{$lg}{
        top: 497px;
      }
    &:hover{
      transform: scale(1.2);
      z-index: 2;
    } 
  }
  &-3{
     @media #{$sm}{
      top: -104px;
      width: 100%;
      right: 0;
    } 
    @media #{$xs}{
      top: -50px;
      width: 100%;
      right: 0;
    }
     @media #{$md}{
      top: -50px;
      width: 100%;
      right: 0;
    } 
  }

}
.it-about-list{
  border-radius: 5px;
  background: #F0E4E0;
  padding: 16px 24px;
  align-items: center;
  gap: 50px;
  @media #{$lg}{
    	padding: 10px 18px;
	    gap: 29px;
      p{
        font-size: 14px;
      }

  }
}



.it-about-wrapper-3{
  @media #{$xs, $sm, $lg}{
    margin-top: 0;
  }
}
.it-about-title {
    @media #{$xs, $sm , $md}{
      text-align: start;
  }
}

.it-about-title-area{
   @media #{$xs, $sm , $md}{
      text-align: start;
  }
}
.it-section-sub-title-2{
  @media #{$xs, $sm , $md}{
      text-align: center;
  }
}
.it-about-section-info {
  @media #{$xs, $sm , $md}{
      text-align: center;
  }
}