@use '../../utils/' as *;

/*----------------------------------------*/
/* 3.3.4 choose
/*----------------------------------------*/

.it-Choose{
    &-area{
        @media #{$xs}{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &-2{
            @media #{$xs}{
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }
    }
}


.it-choose{
    &-title{
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .2px;
    @media #{$xs}{
     font-size: 22px;
     padding-top: 0;
     margin-bottom: 7px;
    }

}
&-content{
    @media #{$xs}{
      padding-top: 0;
    }
}
}
.it-choose-thumb{
    &-1{
        right: -25%;
        animation: itswing 2.5s forwards infinite alternate;
    }
    &-2{
        top: 0;
        right: 0;
        border-radius: 30px;
        transition: all 0.7s linear;
        @media #{$xl, $lg}{
            right: 23px;
        }
         @media #{$lg}{
            right: 11px;
            width: 100%;
            height: 100%;
        }
        &:hover{
            transform: scale(1.2);
            z-index: 2;
        } 
    }
    &-3{
        bottom: 0;
        left: 0;
        border-radius: 30px;
        border: 10px solid #FFF3EF;
        transition: all 0.7s linear;
        &:hover {
            transform: scale(1.2);
        }
    }
    
}
.it-choose-thumb{
    &-video-icon{
        display: flex;
        width: 100px;
        height: 100px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
        border-radius: 500px;
        border: 4px solid var(--White, #FFF);
        background: rgba(175, 175, 175, 0.20);
    }
}


    .it-choose-list{
        @media #{$xs}{
            padding-top: 20px;
        }
        &-title{
            font-size: 20px;
            @media #{$xs}{
                font-size: 16px;
                line-height: 0;
            }

        }
        &-icon{
            font-size: 18px;
            @media #{$xs}{
            font-size: 16px;
            margin-bottom: 0;
            }
        }
        &-thumb{
            & img{
                border-radius: 8px;
                margin-right: 20px;
                @media #{$xs}{
                    margin-top: -21px;
                }
            }
            
        }
    }
.it{
    &-Choose-area{
        & .it-section-title{
            @media #{$xl, $lg}{
                font-size: 35px;
            }
            @media #{$xs}{
                margin-bottom: 20px;
            }
        }
    }
}
// .it-choose-content-area{
//     @media #{$md}{
//                 display: flex;
//                 justify-content: space-between;
//             }
// }

.it-Choose-area{
    .it-section-info {
         @media #{$md }{
                text-align: center;
            }
    &-2{
        @media #{$lg }{
            text-align: center;
        }
    }
    }
    & h2.it-section-title {
        margin-bottom: 30px;
        
    }
}