@use '../../utils/' as *;

/*----------------------------------------*/
/* 3.3.5 contact
/*----------------------------------------*/


.it-contact-info {
  position: relative;
  overflow: hidden;
}
.it-contact-content {
    position: absolute;
    bottom: 15%;
    color: #fff;
}

.it-contact-thumb {
  position: relative;
  overflow: hidden;

}

.it-contact-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px  0 0 30px;
  @media #{$sm, $md}{
    border-radius: 30px  30px 0 0;
  }
}

.it-contact-thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px  0 0 30px;
  background: linear-gradient(180deg, rgba(60, 16, 0, 0.00) 0%, rgba(60, 16, 0, 0.00) 40.23%, rgba(60, 16, 0, 0.60) 60.08%, #3C1000 100%);
  opacity: 0.9;
  transition: all 0.4s ease;
  z-index: 1;
 @media #{$sm, $md}{
    border-radius: 30px  30px 0 0;
  }
}

.it-contact-thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.05);
  mix-blend-mode: overlay;
  z-index: 2;
 border-radius: 30px  0 0 30px;
}

.it-contact-content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100%;
  color: #fff;
  z-index: 3;
  
}

.it-contact-title {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
}

.it-contact-item {
  font-weight: 400;
  padding-bottom: 15px;
  color: #fff;
  font-size: 24px;
}

.it-contact-item-time {
  list-style: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.it-contact-info:hover .it-contact-thumb img {
  transform: scale(1.05);
  transition: all 0.6s ease;
}


.it-contact{
    &-area{
        @media #{$md, $sm, $xs}{
            padding-top: 93px;
    }
}
    &-input-box{
        & input {
            margin-top: 20px;
            padding: 15px 20px;
        }
         #comment{
            padding: 15px 20px;
            height: 80px;
            color: #948781;
            margin-top: 16px;
        
        }
    }
    &-form{
        &-area{
            padding: 69px 55px 65px 55px;
            border-radius: 0 30px  30px 0;
              @media #{$md, $sm,}{
                border-radius: 0 0 30px 30px;
              }
            @media #{$xs}{
              padding:22px 22px;
              border-radius: 0;
            }
            @media #{$lg}{
               padding: 69px 35px 55px 35px;
               
            }
            @media #{$xl}{
               padding: 69px 55px 57px 55px;
            }
        }
    }
    &-btn{
        margin-top: 55px;
         @media #{$sm, $xs}{
            margin-top: 30px;
         }
    }
}

.it-contact-item{
    color: #F4ECE8;
    font-size: 24px;
    line-height: 32px;

}


.it-contact-thumb {
    & img{
        	@media #{$xl} {
    height: 701px;
}

    }
	@media #{$lg} {
    height: 678px;
}
	@media #{$xl} {
    height: 701px;
}
}
.it-single-contact{
    padding: 30px 26px;
    text-align: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 6px 60px 0 rgba(11, 3, 0, 0.08);
    transition: .7s;
    &-svg {
    margin-bottom: 20px;
    }
    &:hover{
        transform: scale(1.04);
    }

    &-text {
    margin-bottom: 41px;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    line-height: 34px;
    }
    &-location{
    color:var(--it-body-font-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    @media #{$lg}{
        font-size: 15px;
    }
    }
    @media #{$md, $sm, $xs}{
        margin-top: 35px;
    }
}
.it-map-wrap iframe {
	height: 603px;
    width: 100%;
    @media #{$lg, $md, $sm, $xs}{
    margin-top: 20px;
}

}
.it-contact-form{
      @media #{$xs}{
        padding-top: 15px;
      }
    }

.it-contact-form-area{
  & .it-section-title{
    @media #{$lg}{
        font-size: 35px;
      }
  }
}