@use '../../utils/' as *;

/*----------------------------------------*/
/*  3.3.12 menu
/*----------------------------------------*/

.it-hero{
   padding-top: 220px;
   @media #{$md , $sm, $xs } {
       padding-top: 40px;
       padding-bottom: 40px;
   }
   &-area{
   @media #{$md, $sm, $xs}{
         padding-top: 30px ;
      }
      &-2{
         @media #{$md, $sm, $xs}{
         padding-top: 0px ;
      }
      }
   }
   @media #{$xl,$lg}{
      padding: 120px 0;
   }
   
   &-content{
      & p{
            font-size: 20px;
            font-weight: 400;
            @media #{$md, $sm, $xs}{
               text-align: center;
               font-size: 16px;
            }
      }
      
   }
   &-sub-title{
      font-size: 20px;
      font-weight: 500; 
      @media #{$lg}{
         font-size: 18px;
      }
      @media #{$md, $sm, $xs}{
         justify-content: center;
      }
      @media #{$sm, $xs}{
            font-size: 15px;
         }
      }
      @media #{$md, $sm, $xs}{
         text-align: center;
   }
   &-title{
      font-size: 70px;
      line-height: 85px;
      @media #{$lg}{
            font-size: 55px;
            line-height: 65px;
         }
      @media #{$xl}{
            font-size: 60px;
            line-height: 1;
         }
         @media #{$md, $sm}{
            text-align: center;
    }
      & a {
         display: inline-flex;
         flex-direction: column;
         text-align: center; 
         line-height: .8;
         @media #{$lg}{
            width: 40%;
         }
         @media #{$md, $sm}{
            text-align: center;
         }
      }
        @media #{$sm}{
           font-size: 44px;
            line-height: 60px;
        }
         @media #{$xs}{
           font-size: 22px;
         line-height: 28px;
        }
        & svg{
          @media #{$sm, $xs}{
            width: 180px;
         }

        }

   }
   &-play-btn{
      font-size: 18px;
      font-weight: 500;
      font-family: var(--it-font-body);
      text-transform: uppercase;
      @media #{$lg}{
         font-size: 16px;
      }
      @media #{$md, $sm}{
         text-align: center;
      }
       @media #{$xs}{
         padding-left: 40%;
         padding-top: 5%;
      }
       @media #{$sm}{
         padding-left: 0;
         padding-top: 0;
      }
   }
   &-img {
      left: auto;
      right: 7%;
      bottom: 0;
      @media #{$xl} {
         top: 40px;
         right: -7%;
      }
      @media #{$lg}{
         right: -8%;
    top: 25px;
      }
   }
   &-shape{
      &-1{
         top: 2%;
         right: 2%;
         animation: itswing 2.5s forwards infinite alternate;
      }
      &-2{
         top: 20%;
         right: 5%;
         animation: itswing 2.5s forwards infinite alternate;
      }
      &-3{
         top: 5%;
         right: 52%;
         animation: itswing 2.5s forwards infinite alternate;
      }
      &-4{
         top: 3%;
         left: 3%;
         animation: itswing 2.5s forwards infinite alternate;
      }
      &-5{
         top: 23%;
         left: 9%;
         animation: itswing 2.5s forwards infinite alternate;
         @media #{$lg, $xl}{
         bottom: 10%;
         right: 5%;
         top: auto;
         left: auto;
         }
      }
      &-6{
         top: 48%;
         left: 6%;
         animation: itswing 2.5s forwards infinite alternate;
         @media #{$lg, $xl}{
         bottom: 5%;
         top: auto;
         }
      }
   }
      
} 


.it-hero-play{
   &-icon{
      a {
         display: inline-block;
         width: 56px;
         height: 56px;
         line-height: 56px;
         align-items: center;
         text-align: center;
         border-radius: 50%;
         background-color: rgba(191, 67, 21, 0.12);
         
      }
   }
   &-btn{
      @media #{$sm}{
         
      }

      & span{
      font-size: 18px;
      display: inline-block;
      margin-left: 10px;
      text-transform: uppercase;
      font-family: var(--it-font-body);
      color: var(--it-common-black);
      }
      @media #{$md, $sm}{
         text-align: center;
      }
   }
}

.it-hero-btn {
    margin-top: 0px;
   @media #{$md, $sm}{
      justify-content: center;
   }
   @media #{$xs}{
      margin-top: 20px;
   }
	
}

.it-hero-overly{
   &-2{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
background: linear-gradient(270deg, rgba(51, 37, 31, 0.00) 0%, rgba(51, 37, 31, 0.80) 62.58%, #33251F 100%);
   }
   &-3{
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: .8;
   background: linear-gradient(270deg, rgba(51, 37, 31, 0.00) 0%, rgba(51, 37, 31, 0.80) 62.58%, #33251F 100%);
   }
&-4{
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: .5;
   background-color: #33251F;

}
}


.it-review{
&-text {
  color: #fff;
font-size: 16px;
font-weight: 400;
line-height: 16px;
margin-top: 12px;
&-2{
    color: #fff;
font-size: 14px;
font-weight: 400;
line-height: 16px;
margin-top: 12px;
}
}
&-info {
	padding-top: 40px;
	margin-left: 5%;
   @media #{$sm}{
      padding-top: 25px;
   }
}
   &-box {
	   padding-top: 40px;
      @media #{$sm}{
         padding-top: 25px;
      }
   }
   &-avatars {
   display: flex;
   align-items: center;
   position: relative;
   &  img {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 2px solid #fff;
   margin-left: -10px;
   &:first-child{
      margin-left: 0;
   }
   }
   & .count {
   background: #BF4315;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: -10px;
   }
   }
   &-wrapper {
   display: flex;
   align-items: center;
   gap: 15px;             
   border: 1px solid #BF4315; 
   border-radius: 10px;  
   padding: 10px 15px;  
   background: #fff;    
   width: fit-content;   
   }

}

.it-home-2-review {
   @media #{$md, $sm}{
      text-align: center;
      justify-content: center;
      margin-bottom: 30px;
   }
}

.it-hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media #{$xs}{
   height: 50vh;
  }
  & .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      & video {
         width: 100%;
         height: 100%;
         pointer-events: none; 
         object-fit: cover;
      }
   }
   &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.45); 
      z-index: 2;
   }
}

   
.it-hero-2{
      @media #{$md}{
      text-align: center;
      }
}


.it-review-stars{
   margin-bottom: 5px;
}

.it-hero-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media #{$xs}{
   height: 50vh;
  }
  & .it-hero-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      & img {
         width: 100%;
         height: 100%;
         pointer-events: none; 
         object-fit: cover;
      }
   }
   &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.45); 
      z-index: 2;
   }
}


.it-hero-area {
  width: 100%;
  height: 87vh;
  z-index: 1;
  @media #{$xs ,$sm ,$md ,$lg , $xl}{
   height: 100%;
  }
}
.it-hero{
    @media #{$xs ,$sm ,$md}{
         text-align: center;
         margin-top: 20px;
      }
      & p{
         margin-bottom: 30px;
         @media #{$xl, $lg}{
            margin-top: 30px;
         }
         @media #{$sm}{
            margin-bottom: 20px;
             
            & span{
               display: none;
            }
         }
         @media #{$xs}{
            display: none;
         }
      }

   &-3{
      @media #{$xs ,$sm ,$md}{
         text-align: center;
         margin-top: 40px;
      }
      & p{
         margin-bottom: 40px;
         @media #{$xl, $lg}{
            margin-top: 20px;
         }
         @media #{$sm}{
            margin-bottom: 20px;
            margin-top: 20px;
            & span{
               display: none;
            }
         }
         @media #{$xs}{
             
            display: none;
         }
      }
   }
}

.it-hero-2{
     @media #{$xs ,$sm}{
      text-align: center;
      
     }
}
.it-home-2-review-2{
   @media #{$sm}{
      margin-top: 20px;
   }
}
.it-home-2-review{
   @media #{$xs , $sm}{
      display: none;
   }
}
