@use '../../utils/' as *;
/*----------------------------------------*/
/* 3.3.14 subscribe
/*----------------------------------------*/

.it-subscribe {
    @media #{$xs}{
        padding-left: 22px;
        padding-right: 0;
    }
    & input{
        padding: 17px 220px 23px 30px;
        height: 100%;
        background: #fff;
        color: #949494;
        @media #{$sm}{
            padding: 22px 180px 16px 14px;
        }
        @media #{$xs}{
            padding: 18px 180px 16px 14px;
        }
        

    }
    &-btn{
        right: 70px;
        top: 5px;
        bottom: auto;
        padding: 5px;

         @media #{$xs}{
        right: 4px;
        top: 4px;
    }
         @media #{$md}{
        right: 10px;
    }
        @media #{$lg}{
            top: 7px;
            right: 0;
        }
    }
    @media #{$md}{
        padding-right: 0;
    }
     @media #{$sm, $xs}{
        padding-bottom: 30px;
    }
}
.it-join-subscribe-area-margin {
    margin-bottom: -130px;
    position: relative;
    z-index: 2;
     @media #{$lg, $md, $sm}{
       margin-bottom: -60px;
    }
}


// .it-section-title{
//     @media #{$md}{
//         padding-top: 21px;
//         padding-bottom: 21px;
//         padding-left: 0;
//     }
//     & br{
//         @media #{$md}{
//             display: none;
//         }
//     }
// }

.it-Subscribe-area{
    @media #{$xs, $sm}{
        justify-content: center;
        padding-top: 40px;
    }
    
    & .it-section-title{
        @media #{$md}{
            padding-top: 21px;
            padding-bottom: 21px;
            padding-left: 0;
            font-size: 27px;
            line-height: 35px;
            br{
                display: none;
            }
        }
        
        @media #{$xl}{
            font-size: 45px;
        }
        @media #{$lg}{
            font-size: 45px;
            padding-top: 21px;
            padding-bottom: 21px;
            padding-left: 0;
            font-size: 27px;
            line-height: 35px;
        }
        @media #{$xs, $sm}{
            justify-content: center !important;
            margin-right: 0;
        }
    }
    & .it-subscribe{
        padding-left: 70px;
        padding-right: 70px;
         @media #{$lg, $md}{
            padding-right: 0;
        }
         @media #{$sm, $xs}{
            padding-right: 0;
            padding-left: 0;
        }
    }
}