@use '../../utils/' as *;


/*----------------------------------------*/
/*  3.3.6 error
/*----------------------------------------*/
.it-error {
    &-thumb {
            animation: itswing 1.9s forwards infinite alternate;
        @media #{$lg} {
            margin-bottom: 90px;
        }

        @media #{$md,$xs} {
            margin-bottom: 50px;
        }
    }

    &-title {
        font-weight: 600;
        font-size: 45px;
    }
}
