@use '../../utils/' as *;

/*----------------------------------------*/
/* 3.3.10 gallery
/*----------------------------------------*/

.it-single{
    &-image{
       & img{
         border-radius: 30px;
         @media #{$xs}{
          width: 100%;
          margin-top: 19px;
          height: 400px;
         }
         &.image{
          &-3{
            @media #{$sm}{
       margin-top: 8%;
       }
          }
            &-4{
                margin-top: -23%;
                 @media #{$sm}{
        margin-top: 8%;;
       }
                 @media #{$xs}{
        margin-top: 5%;;
       }
            }
            &-5 {
	margin-top: 7%;
}
&-6 {
	margin-top: 7%;
   @media #{$sm}{
       margin-top: 6%;
       }
}
&-7 {
	margin-top: -71%;
   @media #{$sm}{
      margin-top: 0%;
       }
                 @media #{$xs}{
        margin-top: 6%;
       }
}
&-8 {
	margin-top: -100%;
  @media #{$lg}{
	margin-top: -32%;
	width: 32%;
  }
   @media #{$sm}{
       margin-top: 4%;
       }
        @media #{$xs}{
        margin-top: 6%;
       }
}
&-9 {
	margin-top: -18%;
   @media #{$sm}{
        margin-top: 4%;
       }
        @media #{$xs}{
        margin-top: 6%;
       }
}
&-10 {
	margin-top: 8%;
   @media #{$sm}{
        margin-top: 7%;
       }
}
         }
       }
    }
}
.it-gallery-area{
   @media #{$xs}{
      padding-top: 50px;
   }
}