@use '../../utils' as *;
/*----------------------------------------*/
/* 3.3.13 service
/*----------------------------------------*/

.it-services{
  &-area{
    @media #{$md}{
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media #{$xs}{
      padding-top: 40px;
      padding-bottom: 50px;
    }
    @media #{$sm}{
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  &-info{
    margin-bottom: 20px;
  }
  &-icon{
    & svg{
    color: var(--it-theme-color);
    }
  }
  &__text{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--it-font-heading);
    color: var(--it-heading-color);
    &:hover{
      color: var(--it-theme-color);
    }
    @media #{$xs}{
      font-size: 16px;
      line-height: 20px;
    }
    & br{
       @media #{$xs}{
          display: none;
      }

    }
    
  }
  &__content{
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.10);
  }
  &-btn{
    @media #{$xs}{
    padding-top: 23px;
    }
  }
}
.it-service__thumb{
  overflow: hidden;
  border-radius: 12px;
  & img{
    border-radius: 12px;
    transition: all 0.7s linear;
    @media #{$lg, $md, $sm, $xs}{
      width: 100%;
      height: 100%;
    }
    @media #{$xs}{
      width: 100%;
    }
  }
  width: 100%;
  height: 100%;
  &:hover {
        & img {
            transform: scale(1.2);
        }
    }
  

}
.it-section-shape{
  &-1{
    top: -1%;
    left: -1%;

  }
  &-2{
    top: -1%;
    right: -1%;
  }
  &-3{
    bottom: 0;
    left: 0;
    animation: itswing 2.5s forwards infinite alternate;
  }
  &-4{
    bottom: 0;
    right: 0;
    animation: itswing 2.5s forwards infinite alternate;
  }
}

.it-services__info{
   margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 15px;
}