@use '../utils/' as *;

.it-section{
  &-info{
    @media #{$md, $sm, $xs}{
      text-align: center;
    }
    @media #{$xs}{
      padding-bottom: 0;
    }
    

  }
  &-sub-title{
    color: var(--tp-sub-font-color);
    font-family: var(--it-font-body);
    font-size: 16px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    line-height: 26px;
    @media #{$lg}{
      font-size: 18px;
    line-height: 1;
    }
    @media #{$xs}{
      font-size: 14px;
      margin-bottom: 10px;
    }
   
  }
  &-title{
    font-size: 50px;
    line-height: 1.08;
    font-style: normal;
    font-weight: 600;
    @media #{$lg, $md}{
      font-size: 40px;
      line-height: 45px;
    }
    @media #{$sm}{
      padding-top: 20px;
      padding-bottom: 30px;
      margin-right: 53px;
    }
    @media #{$md, $sm}{
      font-size: 33px;
    }

    & br{
    @media #{$sm, $xs}{
  display: none;
      
    }
    }
    @media #{$xs}{

   font-size: 18px;
    margin-top: 15px;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  
  }
}